*{
    background-color: #16154E;
    color: aliceblue;
}
h1 {
    color: white;
}

.st-eg img {
    border: 2px solid red;
    border-radius: 10px;
    transform: rotate(10deg);
    width: 30px; /* Set the width as needed */
    height: 20px; /* Set the height as needed */
     position: relative; /* Set the positioning as needed */
     top: 20px;
    
}