*{
    background-color: #16154E;
    color: aliceblue;
}
h1 {
    color: white;
}

.st-eg img {
    border: 2px solid red;
    border-radius: 10px;
    transform: rotate(10deg);
    width: 30px; 
    height: 20px;
     position: relative;
     top: 20px;
    
}